@charset "utf-8";
/*
Author: Riley Kneen-Teed
Date: 3/2/2023
Description:

*/

html {
    background: rgb(151, 151, 151);
    font-family: Verdana, Geneva, sans-serif;
    height: 100%;
 }
body {
    background-color: darkseagreen;
    box-shadow: rgb(51, 51, 51) 10px 0px 40px, rgb(51, 51, 51) -10px 0px 40px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    min-height: 100%;   
    margin: 0px auto;
    min-width: 400px;
    max-width: 1024px;   
    width: 100%; 
 }